body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New";
  display: flex;
  justify-content: center;
  padding-top: 60px; /* Offset body content if header is fixed */
}

body {
  transition: background-color 0.6s ease, color 0.6s ease;
}

/* Theme Design */
/* Light Theme (before Pomodoro starts or during breaks) */
/* This theme was design in light and blueish colour indicate relaxation and calm */
body.break-theme {
  background-size: cover;
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #424242;
}

body.break-theme .player,
body.break-theme .playlist,
body.break-theme .pomodoro,
body.break-theme header,
body.break-theme footer {
  background: #dde0e17d;
  color: #424242;
}

body.break-theme .playlist-item.active {
  border-left-color: #a71db9;
}

/* Dark Theme (during focus) */
/* this black and contrast colour indicate the focus and sharp element to focus on */
body.focus-theme {
  background-color: #121212;
  color: #fff;
}

body.focus-theme header,
body.focus-theme .player,
body.focus-theme .playlist,
body.focus-theme .pomodoro,
body.focus-theme footer {
  background-color: #242424;
  color: #fff;
}

/* Header styling */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}

h2 {
  margin-top: 10px;
}

h3 {
  font-style: italic;
  font-weight: 1;
  text-align: center;
  font-size: 18px;
  width: 60%;
  margin-bottom: 20px;
  margin-top: 30px;
}

/* Pomodoro text styling */
h4 {
  margin-top: -5px;
  font-weight: 5;
}

/* Media Player Card Styling */
.container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.player {
  width: 350px;
  background: #1e1e1e;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 30px #00000058;
}

.now-playing {
  display: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.now-playing img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

input[type="range"] {
  width: 100%;
  margin: 5px 0;
}

/* Playlist and Pomodoro Card Styling */
/* In this Playlist card, I design it to show the current playing song and list of song in visible way */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 300px;
}

.playlist {
  width: 280px;
  background: #1a1a1a;
  padding: 10px;
  border-radius: 15px;
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 4px 30px #00000058;
}

.playlist-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
  transition: background 0.2s;
}

/* The hover function added to indicate the mouse pointing selected song */
.playlist-item:hover {
  background: #ffffff27;
}

.playlist-item img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.playlist-item.active {
  background: #ffffff27;
  border-left: 5px solid #a71db9;
  padding-left: 6px;
}

/* Pomodoro Timer UI */
.pomodoro {
  background: #262626;
  padding: 30px;
  margin-top: 20px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.timer-svg {
  margin: 10px auto;
  display: block;
}

.pomodoro-controls button {
  margin: 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: #a71db9;
  color: white;
  cursor: pointer;
}

.pomodoro-controls button:hover {
  background-color: #991ca9;
}

/* Footer styling */
footer {
  position: fixed;
  bottom: 0;
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  width: 100%;
}
