body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fef1e6;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 40px;
  background: #fef1e6;
}

.logo {
  font-family: "Georgia", serif;
  font-size: 28px;
  color: #e24d26;
}

.logo span {
  display: block;
  font-family: "Brush Script MT", cursive;
  font-size: 18px;
  color: #733;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.game-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #3f9252;
  height: 90vh;
}

.left-panel {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  gap: 20px;
}

.recipe {
  background: #fcea75;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

button {
  background: #fcea75;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.plate-area {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
  background: #fff6ee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plate-img {
  position: absolute;
  width: 150%;
  height: 150%;
  object-fit: contain;
  z-index: 0;
}

.plate-area .item {
  position: absolute;
  z-index: 1;
}

.drop-zone {
  position: absolute;
  border: 1px dashed #c44;
  border-radius: 50%;
}

.outer {
  width: 99%;
  height: 99%;
  top: 1;
  left: 1;
}
.middle {
  width: 66%;
  height: 66%;
  top: 17%;
  left: 17%;
}
.inner {
  width: 33%;
  height: 33%;
  top: 33%;
  left: 33%;
}

.right-panel {
  width: 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.drop-zone .item {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: default;
}

.plate-area .item {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: default;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 12px;
  padding: 10px;
  width: 100px;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.item-box img {
  width: 60px;
  height: 60px;
  pointer-events: none;
}

.label {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* Item description on images */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-image {
  position: absolute;
  top: -20%;
  right: 0%;
  transform: translateX(-50%);
  display: none;
  width: 200px;
  height: 290px;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.tooltip-container:hover .tooltip-image {
  display: block;
}

.tooltip-image img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
